td {
  text-align: center;
}

.create-btn button {
  cursor: pointer;
  text-align: center;
  background: green;
  color: white;
  padding: 10px 14px;
}

.create-btn {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}