<div class="create-btn">
    <form (ngSubmit)="onSubmit(foldername,$event)" #foldername="ngForm">

        <input type="text" name="name" ngModel />
        <!-- <button type="button">Create Folder</button> -->
        <button type="submit" class="btn btn-primary">Create Folder</button>
    </form>

</div>

<table *ngIf="galleryData" datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th>Folder Name</th>
            <th>Total File</th>
            <th>Upload File</th>
            <th>Delete</th>
            <th>View Uploaded File </th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of galleryData; let i = index" [attr.data-index]="i">
            <td>{{item.name}}</td>
            <td>{{item.total_file_count}}</td>
            <td><input type="file" id="fileupdate" (change)="handleFileUpdate($event,item)" accept=".png, .jpg"> 
                </td>
            <td><button type="submit" (click)="delete(item)">delete</button></td>

            <td><button type="submit" (click)="viewFile(item)">view files</button></td>
        </tr>

    </tbody>
</table>